<template>
  <div class="app-container">
    <div class="filter-container">
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="handleCreate">
        	添加
      </el-button>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="80" :class-name="getSortClass('id')">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>

        <el-table-column label="设备名称" align="center">
        <template slot-scope="{row}">
          <span>{{ row.cacheCode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="设备编号" align="center">
        <template slot-scope="{row}">
          <span>{{ row.cacheTray }}</span>
        </template>
      </el-table-column>
      <el-table-column label="参数类型"  align="center">
        <template slot-scope="{row}">
          <span>{{ row.cacheMaterial }}</span>
        </template>
      </el-table-column>
      <el-table-column label="参数值"  align="center">
        <template slot-scope="{row}">
          <span>{{ row.wcsContainer }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Actions" align="center"  class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button type="primary" size="mini" @click="handleUpdate(row)">
            	编辑
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="70px" style="width: 400px; margin-left:50px;">
    
        <el-form-item label="设备名称" prop="cacheCode">
          <el-input v-model="temp.cacheCode" disabled />
        </el-form-item>
        <el-form-item label="设备编号" prop="cacheTray">
          <el-input v-model="temp.cacheTray" />
        </el-form-item>
        <el-form-item label="参数类型" prop="cacheMaterial">
          <el-input v-model="temp.cacheMaterial" />
        </el-form-item>
         <el-form-item label="参数值" prop="wcsContainer">
          <el-input v-model="temp.wcsContainer" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          	取消
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          	确认
        </el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import { fetchList, fetchPv, createArticle, updateArticle,deleteArticle,returnMaterialApi,callMaterialApi } from '@/api/dcscache'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

const calendarTypeOptions = [
  { key: 'CN', display_name: 'China' },
  { key: 'US', display_name: 'USA' },
  { key: 'JP', display_name: 'Japan' },
  { key: 'EU', display_name: 'Eurozone' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'ComplexTable',
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {
      tableKey: 0,
      list: [{'id':1,'cacheCode':'扭矩枪','cacheTray':'10001','cacheMaterial':'程序号','wcsContainer':'5'},
      {'id':2,'cacheCode':'扭矩枪','cacheTray':'10001','cacheMaterial':'颗数','wcsContainer':'5'},
      {'id':3,'cacheCode':'扭矩枪','cacheTray':'10001','cacheMaterial':'扭力','wcsContainer':'7'}],
      total: 5,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 10,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      rebackMaterial:{
      	onlinePosition:0
      },
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      checkRemarkOptions:[{checkRemarkName:'默认',checkRemarkValue:'0000'},{checkRemarkName:'已经扫描',checkRemarkValue:'checked'},
      {checkRemarkName:'空托盘',checkRemarkValue:'empty'},{checkRemarkName:'叫料',checkRemarkValue:'callMaterial'},
      {checkRemarkName:'退料',checkRemarkValue:'remove'}],
      sortOptions: [{ label: 'ID Ascending', key: '+id' }, { label: 'ID Descending', key: '-id' }],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      temp: {
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
      },
      downloadLoading: false
    }
  },
  created() {
    this.getList()
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        //this.list = response.data.items
        //this.total = response.data.total

        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 0.5 * 1000)
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: '操作Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
    	let that=this;
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          this.temp.author = 'vue-element-admin'
          createArticle(this.temp).then((resp) => {
            //this.list.unshift(this.temp)
            console.log(resp.data);
            this.dialogFormVisible = false
            that.getList();
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    returnMaterial(cacheCode){//退料
    	let that=this
    	this.rebackMaterial.onlinePosition=cacheCode
    	returnMaterialApi(this.rebackMaterial).then(response => {
    		 that.getList()
     })
    },
    callMaterial(cacheCode){//退料
    	let that=this
    	this.rebackMaterial.onlinePosition=cacheCode
    	callMaterialApi(this.rebackMaterial).then(response => {
    		 that.getList()
      })
   
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
    	let that=this;
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          updateArticle(tempData).then((resp) => {
            this.dialogFormVisible = false
            that.getList();
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row, index) {
    	let that=this;
    	deleteArticle({'id':row.id});
    	that.getList();
      this.$notify({
        title: 'Success',
        message: 'Delete Successfully',
        type: 'success',
        duration: 2000
      })
      
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status']
        const filterVal = ['timestamp', 'title', 'type', 'importance', 'status']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}` ? 'ascending' : 'descending'
    }
  }
}
</script>
