<template>
  <el-table :data="list"  :row-style="TableRowStyle" highlight-current-row  style="width: 100%;padding-top: 15px;">
     <el-table-column label="类型" align="center">
        <template slot-scope="{row}">
          <span>{{ row.taskType?statusData[(row.taskType)].label:'无任务'}}</span>
        </template>
      </el-table-column>
      <el-table-column label="任务号" align="center" min-width="120px">
        <template slot-scope="{row}">
          <span>{{ row.taskCode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="托盘" align="center">
        <template slot-scope="{row}">
          <span>{{ row.palletLocation }}</span>
        </template>
      </el-table-column>
      <el-table-column label="抓取X" align="center">
        <template slot-scope="{row}">
          <span>{{ row.grabX }}</span>
        </template>
      </el-table-column>
      <el-table-column label="抓取Y" align="center">
        <template slot-scope="{row}">
          <span>{{ row.grabY }}</span>
        </template>
      </el-table-column>
<!--      <el-table-column label="抓角度" align="center">
        <template slot-scope="{row}">
          <span>{{ row.grabAngle }}</span>
        </template>
      </el-table-column>-->
      
      <el-table-column label="放置X" align="center">
        <template slot-scope="{row}">
          <span>{{ row.placeX }}</span>
        </template>
      </el-table-column>
      <el-table-column label="放置Y" align="center">
        <template slot-scope="{row}">
          <span>{{ row.placeY }}</span>
        </template>
      </el-table-column>
<!--      <el-table-column label="放角度" align="center">
        <template slot-scope="{row}">
          <span>{{ row.placeAngle }}</span>
        </template>
      </el-table-column>
        -->
            <el-table-column label="Actions" align="center"  class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button type="primary" size="mini" @click="deleteTask(row.taskCode)">
            	删除
          </el-button>
        </template>
      </el-table-column>
  </el-table>
</template>

<script>
import { robotTaskList,deleteRobotTask,reSendCurrentRobot,reSendNextRobot } from '@/api/remote-robot'

export default {
  data() {
    return {
      list: null,
       statusData: {
        '0': {
          label: '无任务'
        },
        '1': {
          label: '拍车架'
        },
        '2': {
          label: '托盘有无'
        },
        '3': {
          label: '工件抓取'
        },
        '4': {
          label: '工件放置'
        },
        '5': {
          label: '放夹具'
        },
        '6': {
          label: '取夹具'
        },
        '8': {
          label: '物料的定位'
        },
        '9': {
          label: '托盘偏移'
        },
       }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    reSendCurrentRobot(){
    	let that=this;
  		reSendCurrentRobot().then(response=>{
  		  that.fetchData();
      	this.$notify({
        	title: 'Success',
        	message: 'resend current Successfully',
        	type: 'success',
        	duration: 2000
      })
  		})
    },
    reSendNextRobot(){
    	let that=this;
  		reSendNextRobot().then(response=>{
  		  that.fetchData();
      	this.$notify({
        	title: 'Success',
        	message: 'resend next Successfully',
        	type: 'success',
        	duration: 2000
      })
  		})
    },
    fetchData() {
      robotTaskList().then(response => {
        this.list = response.data
        console.log(this.list)
      })
    },
    TableRowStyle({row, rowIndex}) {
    	let stylejson={}
    	console.log(row.currentTaskRemark)
			if (row.currentTaskRemark === 9) {
				stylejson.backgroundColor='#33FF33'
				return stylejson
			}
			return ''
		},
		deleteTask(taskCode){
			let that=this;
			deleteRobotTask({'taskCode':taskCode}).then(response =>{
				that.fetchData();
      	this.$notify({
        	title: 'Success',
        	message: 'Delete Successfully',
        	type: 'success',
        	duration: 2000
      })
			})
		}
  }
 }
</script>
