<template>
  <div class="dashboard-editor-container"">

    <!--新增一个panelGroup用来增加Plc的断线重连-->
    <el-row>
    	 <el-col :lg="{span: 12}" :xl="{span: 12}" :gutter="8">
    	 	 <el-button class="filter-item" style="margin-left: 20px;" type="success" icon="el-icon-edit" @click="reconnectPlc">
	                     PLC断线重连
	      </el-button>
	  <!--   <el-button class="filter-item"  type="warning" icon="el-icon-edit" @click="closePlc" style="margin-left:10px">
	                     关闭PPLC连接
	      </el-button>-->
	    <el-button class="filter-item"  type="success" icon="el-icon-edit" @click="startScada" style="margin-left:20px">
	            开启SCADA推送
	     </el-button>
	     
	     <el-button class="filter-item"  type="warning" icon="el-icon-edit" @click="closeScada" style="margin-left:20px">
	            关闭SCADA推送
	     </el-button>
	     
	      
    	 </el-col>
    	
    </el-row>
    <div style="width: 100%;height: 3px;background: deepskyblue;margin-top: 5px;"></div>
    
    <el-row :gutter="8" style="min-height: 400px;margin-top:20px">
      <el-col :xs="{span: 24}" :sm="{span: 24}" :md="{span: 24}" :lg="{span: 11}" :xl="{span: 11}" style="padding-right:8px;">
        <div style="text-align: center;margin-bottom: 10px;" >A线堆垛车任务列表</div>
        
  
   		<div class="filter-container" style="text-align: center">

	      <el-button v-waves class="filter-item" type="success" icon="el-icon-search" @click="reSendCurrentStacking">
	       	     重新发送当前任务
	      </el-button>
	      <el-button class="filter-item" style="margin-left: 20px;" type="warning" icon="el-icon-edit" @click="reSendNextStacking">
	                     发送下一个任务
	      </el-button>
      </div>
      
        <transaction-table ref="c1"></transaction-table>
      </el-col>
      
      <el-col :xs="{span: 24}" :sm="{span: 24}" :md="{span: 24}" :lg="{span: 13}" :xl="{span: 13}" >
        <div style="text-align: center;margin-bottom: 10px;">A线机械手任务列表</div>
        <div class="filter-container" style="text-align: center;min-height: 40%;">
	
			      <el-button v-waves class="filter-item" type="success" icon="el-icon-search" @click="reSendCurrentRobot">
			       	 重新发送当前任务
			      </el-button>
			      <el-button class="filter-item" style="margin-left: 20px;" type="warning" icon="el-icon-edit" @click="reSendNextRobot">
			                        发送下一个任务
			      </el-button>
         </div>
        <robot-task ref="c2"></robot-task>
      </el-col>
    </el-row>
    
    <el-row :gutter="8" style="min-height: 40%;height: 40%;">
    	
    	 <el-col :xs="{span: 24}" :sm="{span: 24}" :md="{span: 24}" :lg="{span: 11}" :xl="{span: 11}" style="padding-right:8px;">
        <div style="text-align: center;margin-bottom: 10px;" >B线堆垛车任务列表
        </div>
        
   		<div class="filter-container" style="text-align: center;">

	      <el-button v-waves class="filter-item" type="success" icon="el-icon-search" @click="reSendCurrentStacking2">
	       	     重新发送当前任务
	      </el-button>
	      <el-button class="filter-item" style="margin-left: 20px;" type="warning" icon="el-icon-edit" @click="reSendNextStacking2">
	                     发送下一个任务
	      </el-button>
      </div>
      
        <transaction-tableb ref="c3"></transaction-tableb>
      </el-col>
      <el-col :xs="{span: 24}" :sm="{span: 24}" :md="{span: 24}" :lg="{span: 13}" :xl="{span: 13}" >
        <div style="text-align: center;margin-bottom: 10px;">B线机械手任务列表</div>
        <div class="filter-container" style="text-align: center;">
	
			      <el-button v-waves class="filter-item" type="success" icon="el-icon-search" @click="reSendCurrentRobot2">
			       	 重新发送当前任务
			      </el-button>
			      <el-button class="filter-item" style="margin-left: 20px;" type="warning" icon="el-icon-edit" @click="reSendNextRobot2">
			                        发送下一个任务
			      </el-button>
         </div>
        <robot-taskb ref="c4"></robot-taskb>
      </el-col>
    </el-row>
   </div>
</template>

<script>
/*import LineChart from './components/LineChart'*/
import RaddarChart from './components/RaddarChart'
import PieChart from './components/PieChart'
import BarChart from './components/BarChart'
import TransactionTable from './components/TransactionTable'
import RobotTask from './components/RobotTask'
import TransactionTableb from './components/TransactionTableb'
import RobotTaskb from './components/RobotTaskb'
import BoxCard from './components/BoxCard'
import SockJS from 'sockjs-client'
import Stomp from 'stompjs'
import waves from '@/directive/waves' // waves directive


const lineChartData = {
  newVisitis: {
    expectedData: [100, 120, 161, 134, 105, 160, 165],
    actualData: [120, 82, 91, 154, 162, 140, 145]
  },
  messages: {
    expectedData: [200, 192, 120, 144, 160, 130, 140],
    actualData: [180, 160, 151, 106, 145, 150, 130]
  },
  purchases: {
    expectedData: [80, 100, 121, 104, 105, 90, 100],
    actualData: [120, 90, 100, 138, 142, 130, 130]
  },
  shoppings: {
    expectedData: [130, 140, 141, 142, 145, 150, 160],
    actualData: [120, 82, 91, 154, 162, 140, 130]
  }
}
import {reconnectPlcFromPage,startScadaFromServer,closeScadaFromServer} from '@/api/remote-search'
export default {
  name: 'DashboardAdmin',
  components: {
    RaddarChart,
    PieChart,
    BarChart,
    TransactionTable,
    RobotTask,
    TransactionTableb,
    RobotTaskb,
    BoxCard
  },
  directives: { waves },
  data() {
    return {
      lineChartData: lineChartData.newVisitis
    }
  },
  created() {
    this.initWebSocket()//加载websocket
  },
  beforeDestroy: function () {
      console.log('websocket destroy')
      // 页面离开时断开连接,清除定时器
      this.disconnect()
    },
  methods: {
  	/*开始scada推送*/
  	startScada(){
  		let that=this
  		this.$confirm('是否开启scada推送?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
     }).then(() => {
        that.startScadaFromServer()
      }).catch(() => {
        
      })
  	},
  	/*关闭scada推送*/
  	closeScada(){
  		let that=this
  		this.$confirm('是否关闭scada推送?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
     }).then(() => {
        that.closeScadaFromServer()
      }).catch(() => {
        
      })
  	},
  	startScadaFromServer(){
  			startScadaFromServer().then(response=>{
      	this.$notify({
        	title: 'Success',
        	message: '请求SCADA推送开启成功',
        	type: 'success',
        	duration: 2000
      })
  		})
  	},
  	closeScadaFromServer(){
  			closeScadaFromServer().then(response=>{
      	this.$notify({
        	title: 'Success',
        	message: '请求SCADA推送关闭成功',
        	type: 'success',
        	duration: 2000
      })
  		})
  	},
  	
  	
  	/*重连PLC*/
  	reconnectPlc(){
  	 let that=this
		 this.$confirm('是否进行plc重新连接?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
     }).then(() => {
        that.reconnectPlcFromServer()
      }).catch(() => {
        
      });
  	},
  	reconnectPlcFromServer(){//进行Plc的重连操作
  			reconnectPlcFromPage().then(response=>{
      	this.$notify({
        	title: 'Success',
        	message: 'PLC 重连执行完成',
        	type: 'success',
        	duration: 2000
      })
  		})
  	},
  	/**
  	 * 重新发送堆垛车当前任务
  	 */
  	reSendCurrentStacking(){
  		let that=this
  		 this.$confirm('是否重新发送 堆垛车 的当前任务?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
         }).then(() => {
            that.$refs.c1.reSendCurrentStacking()
          }).catch(() => {
            
          });
  	},
  	reSendNextStacking(){
  		let that=this
  		 this.$confirm('是否发送 堆垛车 的下一个任务?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
        }).then(() => {
            that.$refs.c1.reSendNextStacking()
          }).catch(() => {
            
       });
  	},
  	reSendCurrentRobot(){
  		let that=this
  		 this.$confirm('是否重新发送  机械手 的当前任务?', '提示', {
         confirmButtonText: '确定',
         cancelButtonText: '取消',
         type: 'warning'
        }).then(() => {
            that.$refs.c2.reSendCurrentRobot()
          }).catch(() => {
            
       });
  	},
  	reSendNextRobot(){
  		let that=this
  		 this.$confirm('是否发送   机械手   的下一个任务?', '提示', {
         confirmButtonText: '确定',
         cancelButtonText: '取消',
         type: 'warning'
        }).then(() => {
            that.$refs.c2.reSendNextRobot()
          }).catch(() => {
            
       });
  	},
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	 reSendCurrentStacking2(){
  		let that=this
  		 this.$confirm('是否重新发送 堆垛车 的当前任务?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
         }).then(() => {
            that.$refs.c3.reSendCurrentStacking()
          }).catch(() => {
            
          });
  	},
  	reSendNextStacking2(){
  		let that=this
  		 this.$confirm('是否发送 堆垛车 的下一个任务?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
        }).then(() => {
            that.$refs.c3.reSendNextStacking()
          }).catch(() => {
            
       });
  	},
  	reSendCurrentRobot2(){
  		let that=this
  		 this.$confirm('是否重新发送  机械手 的当前任务?', '提示', {
         confirmButtonText: '确定',
         cancelButtonText: '取消',
         type: 'warning'
        }).then(() => {
            that.$refs.c2.reSendCurrentRobot()
          }).catch(() => {
            
       });
  	},
  	reSendNextRobot2(){
  		let that=this
  		 this.$confirm('是否发送   机械手   的下一个任务?', '提示', {
         confirmButtonText: '确定',
         cancelButtonText: '取消',
         type: 'warning'
        }).then(() => {
            that.$refs.c2.reSendNextRobot()
          }).catch(() => {
            
       });
  	},
  	
  	
  	
  	
    handleSetLineChartData(type) {
      this.lineChartData = lineChartData[type]
    },
     initWebSocket () {
        this.connection()
        let that = this
     },
    connection () {
    // 建立连接对象
    //  let socket = new SockJS('http://172.17.153.178:3002/webSocketServer')
   		let socket =new SockJS('http://172.17.153.178:8080/kengic-longertek-dcs/webSocketServer')
    // 获取STOMP子协议的客户端对象
    this.stompClient = Stomp.over(socket)
    // 定义客户端的认证信息,按需求配置
    let headers = {
      'Content-Type': 'application/json;charset=utf-8'
//          'withCredentials': false
    }
    // 向服务器发起websocket连接
    this.stompClient.connect(headers, () => {
      this.stompClient.subscribe('/topic/monitor/info', (msg) => { // 订阅服务端提供的某个topic
      })  //用户加入接口

      this.stompClient.subscribe('/topic/stackingCar/stackingCarTask', (msg) => {
      	let data=JSON.parse(msg.body)
      	console.log(data)
        this.$refs.c1.fetchData();
      })
      this.stompClient.subscribe('/topic/robot/robotTask', (msg) => {
      	let data=JSON.parse(msg.body)
      	console.log(data)
        this.$refs.c2.fetchData();
      })
      
      this.stompClient.subscribe('/topic/stackingCar2/stackingCarTask', (msg) => {
      	let data=JSON.parse(msg.body)
      	console.log(data)
        this.$refs.c3.fetchData();
      })
      this.stompClient.subscribe('/topic/robot2/robotTask', (msg) => {
      	let data=JSON.parse(msg.body)
      	console.log(data)
        this.$refs.c4.fetchData();
      })


    }, (err) => {
      console.log('失败')
      window.setTimeout(this.connection, 3000)
    })
  },
  disconnect () {
    if (this.stompClient) {
      this.stompClient.disconnect()
    }
  },
  }
}
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;

  .github-corner {
    position: absolute;
    top: 0px;
    border: 0;
    right: 0;
  }

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }
}

@media (max-width:1024px) {
  .chart-wrapper {
    padding: 8px;
  }
}
</style>
